<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="build/react.js"></script>
        <script src="build/JSXTransformer.js"></script>

        <script type="text/jsx" src="build/Requests.js"></script>
        <script type="text/jsx" src="build/games.js"></script>
        <script type="text/jsx" src="build/users.js"></script>
        <script type="text/jsx" src="build/active_ui.js"></script>
    </head>

    <body>
        <h1> Active: </h1>
        <div id="content"></div>
        <script type="text/jsx">
            React.render(
                <ActiveDisplay />,
                document.getElementById('content')
            );
        </script>
    </body>
</html>
