<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>

        <script type="text/jsx" src="views/Requests.js"></script>
        <script type="text/jsx" src="views/games.js"></script>
        <script type="text/jsx" src="views/users.js"></script>
        <script type="text/jsx" src="views/gamerooms.js"></script>
        <script type="text/jsx" src="views/active_ui.js"></script>
    </head>

    <body>
        <h1> Active: </h1>
        <div id="content"></div>
        <script type="text/jsx">
            React.render(
                <ActiveDisplay />,
                document.getElementById('content')
            );
        </script>
    </body>
</html>
